.icon-boxer i{
    font-size: 28px;
    color: var(--accent_color);
    transition: var(--trans_05);
}
.icon-boxer:hover i{
    color: #05a3e7;
}

.icon-sets i{
    font-size: x-large;
}


.card p{
    margin-bottom: 0;
}
/* .iframe-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
} */
